/**
A Dagger pipeline for Tpescript generated via Magicinit™

                       _      _       _ _   
                      (_)    (_)     (_) |  
 _ __ ___   __ _  __ _ _  ___ _ _ __  _| |_ 
| '_ ` _ \ / _` |/ _` | |/ __| | '_ \| | __|
| | | | | | (_| | (_| | | (__| | | | | | |_ 
|_| |_| |_|\__,_|\__, |_|\___|_|_| |_|_|\__|
                  __/ |                     
                 |___/    
 */
import { dag, Container, Directory, object, func, argument } from "@dagger.io/dagger"

@object()
class Typescript {
  {{ if .TypescriptVersion -}}
  typescriptVersion: string = "{{ .TypescriptVersion }}"
  {{ else -}}
  // [heads up] We could not infer the typescript version, so we default to latest
  typescriptVersion: string = "latest"
  {{ end -}}
  source: Directory

  @func()
  ctr: Container

  /**
   * Module level arguments using constructor
   * @param source location of source code, defaults to current working dir
   *
   * more info on defaultPath: https://docs.dagger.io/manuals/developer/functions/#directories-and-files
   * more info on constructor: https://docs.dagger.io/manuals/developer/entrypoint-function/
   */
  constructor(@argument({ defaultPath: "/" }) source: Directory) {
    this.source = source
    this.ctr = dag.container()
  }

  /**
   * Base container for Typescript project
   */
  @func()
  base(): Typescript {
    this.ctr = dag.
      container().
      from(`node:${this.typescriptVersion}`).
      withMountedDirectory("/src", this.source).
      withWorkdir("/src")

    return this
  }

  @func()
  setup(): Typescript {
    this.ctr = this.ctr.withExec(["npm", "install"])

    return this
  }

  /**
   * Build the project
   */
  @func()
  build(): Container {
    return this.ctr.withExec(["npm", "build"])
  }

  /**
   * Lint the project
   */
  @func()
  lint(): Container {
    return this.ctr.withExec(["npm", "lint"])
  }

  /**
   * Test the project
   */
  @func()
  test(): Container {
    return this.ctr.withExec(["npm", "test"])
  }

  /**
    * Run the CI
    */
  @func()
  async ci(): Promise<void> {
    // Install deps if that's not already been done
    this.base().setup()

    await Promise.all([
      this.build().sync(),
      this.lint().sync(),
      this.test().sync(),
    ])
  }
}
